<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movie List</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: red"><%= flash[:notice] %></p>

<strong>WELCOME TO MOVIEHAT, BITCHES!</strong>
<br>
<%= image_tag("/images/moviehat.jpg") %>


<!-- navigation links -->
<br />
<%= link_to("Add new movie", :controller => :movies, :action => :new)  %> |
  <%= link_to("Genre List", :controller => :genres, :action => :index)  %> |
  <%= link_to("Movie List", :controller => :movies, :action => :index)  %>

<!-- short lists -->
<hr />
<%= render :partial => 'movies/top_movies' -%>
<hr />
<%= render :partial => 'genres/top_genres' -%>

</body>
</html>


